.contact {
	display: flex;
	width: 100%;
	height: calc(100vh - 61px);
	background-image: url('../../assets/backgrounds/background4.svg');
}
@media only screen and (max-width: 850px) {
	.contact {
		height: 100vh;
	}
}