.app {
	/*display: flex;*/
	/*width: 100vw;*/
}

.p-grid {
	margin: 0;
}

.p-component, .p-link {
	font-family: Montserrat;
}

h1,h2,h3,h4,h5 {
	font-family: Lato;
	margin: 0;
}

p, span, div {
	font-family: Montserrat;
	margin: 0;
}

a {
	text-decoration: unset;
	overflow-wrap: break-word;
	max-width: 100%;
}

.leaflet-control-attribution a svg {
	display: none;
}

.branding {
	color: #4d85b4;
	background-color: #37547e;
}
